.d-f{
    display: flex
}

.d-i-f{
    display: inline-flex
}

.container {
    display: flex;
    // height: 100vh;
    background-color: rgb(250, 250, 250);

    .filter-warpper {
        padding: 10px;
        border-right: 1px solid #e2e2e2
        // height: 100vh;
    }

    .products-wrapper {
        // padding: 10px;
        // height: 100vh;
    }
}

footer {
    width: 100%;
    background-color: #2874f0;
    text-align: center;
    padding: 10px;
    color: #ffffff;
}



/** RESPONSIVENESS **/
@media (max-width: 1900px) {
    .mobile-d-f {
        display: none !important;
    }

    .mobile-d-i-f {
        display: none !important;
    }

    .desktop-d-f {
        display: flex !important;
    }

    .desktop-d-i-f {
        display: inline-flex !important;
    }

    .filter-warpper {
        display: flex;
        width: 16.66%;
    }

    .products-wrapper {
        width: 83.33%;
    }
}

@media (max-width: 1500px) {

    .mobile-d-f {
        display: none !important;
    }

    .mobile-d-i-f {
        display: none !important;
    }

    .desktop-d-f {
        display: flex !important;
    }

    .desktop-d-i-f {
        display: inline-flex !important;
    }

    .filter-warpper {
        display: flex;
        width: 16.66%;
    }

    .products-wrapper {
        width: 83.33%;
    }
}

@media (max-width: 900px) {
    .mobile-d-f {
        display: none !important;
    }

    .mobile-d-i-f {
        display: none !important;
    }

    .desktop-d-f {
        display: flex !important;
    }

    .desktop-d-i-f {
        display: inline-flex !important;
    }

    .filter-warpper {
        display: flex;
        width: 16.66%;
    }

    .products-wrapper {
        width: 83.33%;
    }

}

@media (max-width: 768px) {

    .mobile-d-f {
        display: flex !important;
    }

    .mobile-d-i-f {
        display: inline-flex !important;
    }

    .desktop-d-f {
        display: none !important;
    }

    .desktop-d-i-f {
        display: none !important;
    }

    .filter-warpper {
        display: flex;
        width: 16.66%;
    }

    .products-wrapper {
        width: 83.33%;
    }
}

@media (max-width: 600px) {
    .mobile-d-f {
        display: flex !important;
    }

    .mobile-d-i-f {
        display: inline-flex !important;
    }

    .desktop-d-f {
        display: none !important;
    }

    .desktop-d-i-f {
        display: none !important;
    }

    .filter-warpper {
        display: none;
    }

    .products-wrapper {
        width: 100%;
    }
}

@media (max-width: 320px) {

    .mobile-d-f {
        display: flex !important;
    }

    .mobile-d-i-f {
        display: inline-flex !important;
    }

    .desktop-d-f {
        display: none !important;
    }

    .desktop-d-i-f {
        display: none !important;
    }

    .filter-warpper {
        display: none;
    }

    .products-wrapper {
        width: 100%;
    }
}