h1 {
    font-size: 28px;
    font-weight: 300;
    flex: 1;
}

h5 {
    font-weight: 500;
    line-height: 1.7em;
}

h6 {
    color: #666;
    font-size: 14px;
}

/* Product Layout */

.products {
    display: flex;
    flex-wrap: wrap;

    .product-card {
        // height: 300px;
        margin: 2px;
        border-radius: 2px;
		overflow: hidden;
		padding-bottom: 2rem;
		padding: 12px;

        .product-image {
            img {
                display: block;
                width: 100%;
                object-fit: cover;
                transition: transform 400ms ease-out;
            }
        }

        .product-info {
            margin-top: auto;
            padding-top: 20px;
            text-align: center;

            .current-price,
            del,
            .discount {
                font-size: 12px;
                padding-left: 7px;
            }

            .discount {
                color: green
            }

            button {
                padding: 7px 12px;
                background-color: orange;
                border: navajowhite;
                border-radius: 12px;
				cursor: pointer;
				margin-top: 10px;
				font-weight: 600;
            }
        }
    }
}


/** RESPONSIVENESS **/
@media (max-width: 1900px) {
    .products {
        .product-card {
            width: calc(19.5% - 4px);
        }

    }
}

@media (max-width: 1500px) {
    .products {
        .product-card {
            width: calc(19.5% - 4px);
        }

    }
}

@media (max-width: 900px) {
    .products {
        .product-card {
            width: calc(33.33% - 4px);
        }
    }

}

@media (max-width: 768px) {
    .products {
        .product-card {
            width: calc(33.33% - 4px);
        }
    }
}

@media (max-width: 600px) {
    .products {
        .product-card {
            width: calc(50% - 4px);
        }
    }
}

@media (max-width: 320px) {
    .products {
        .product-card {
            width: calc(50% - 4px);
        }
    }
}